<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347633743164-u2l5s0ucqavqh33so1l3emm3p6vsanmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347633743164-u2l5s0ucqavqh33so1l3emm3p6vsanmh</string>
	<key>API_KEY</key>
	<string>AIzaSyCzElTkMLLkGNCkldviCBuUf2WGa-P8C1k</string>
	<key>GCM_SENDER_ID</key>
	<string>347633743164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.womenSafety</string>
	<key>PROJECT_ID</key>
	<string>devsoc-vit</string>
	<key>STORAGE_BUCKET</key>
	<string>devsoc-vit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347633743164:ios:123b09088676b0a97e5a39</string>
</dict>
</plist>